Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
data = [4, 8, 15, 16, 23, 42]

series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
"""example of how you can create a list with 10 elements and convert it to a Pandas Series:"""

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [5]:
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [6]:
"""Answer:-In Pandas, a DataFrame is a two-dimensional table of data with rows and columns. It is similar to a spreadsheet or a SQL table. A DataFrame can contain data of different types, including integers, floats, strings, and more. Each column in a DataFrame is a Series object, which is a one-dimensional array with a label for each element."""

'Answer:-In Pandas, a DataFrame is a two-dimensional table of data with rows and columns. It is similar to a spreadsheet or a SQL table. A DataFrame can contain data of different types, including integers, floats, strings, and more. Each column in a DataFrame is a Series object, which is a one-dimensional array with a label for each element.'

In [7]:
"""The key differences between a DataFrame and a Series in Pandas are:

A DataFrame is a 2-dimensional object with rows and columns, while a Series is a 1-dimensional object with only rows.
A DataFrame can contain multiple columns, each of which can have a different data type, while a Series contains only one column with a single data type."""

'The key differences between a DataFrame and a Series in Pandas are:\n\nA DataFrame is a 2-dimensional object with rows and columns, while a Series is a 1-dimensional object with only rows.\nA DataFrame can contain multiple columns, each of which can have a different data type, while a Series contains only one column with a single data type.'

In [8]:
# create a Series object
my_series = pd.Series([1, 2, 3, 4, 5])

# create a DataFrame object
my_df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})

print("my_series:")
print(my_series)
print("Type:", type(my_series))

print("\nmy_df:")
print(my_df)
print("Type:", type(my_df))

my_series:
0    1
1    2
2    3
3    4
4    5
dtype: int64
Type: <class 'pandas.core.series.Series'>

my_df:
   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
Type: <class 'pandas.core.frame.DataFrame'>

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [10]:
"""Answer:-Pandas provides a wide range of functions to manipulate and transform data in a DataFrame. Here are some common functions that can be used:"""

'Answer:-Pandas provides a wide range of functions to manipulate and transform data in a DataFrame. Here are some common functions that can be used:'

In [11]:
"""head() and tail(): to display the first or last few rows of a DataFrame.
describe(): to calculate summary statistics for each column, such as count, mean, standard deviation, minimum, maximum, and quartiles.
info(): to display information about a DataFrame, such as the number of rows and columns, column names, data types, and memory usage.
groupby(): to group rows of a DataFrame based on one or more columns and apply a function, such as sum, mean, or count, to each group.
sort_values(): to sort a DataFrame by one or more columns in ascending or descending order."""

'head() and tail(): to display the first or last few rows of a DataFrame.\ndescribe(): to calculate summary statistics for each column, such as count, mean, standard deviation, minimum, maximum, and quartiles.\ninfo(): to display information about a DataFrame, such as the number of rows and columns, column names, data types, and memory usage.\ngroupby(): to group rows of a DataFrame based on one or more columns and apply a function, such as sum, mean, or count, to each group.\nsort_values(): to sort a DataFrame by one or more columns in ascending or descending order.'

In [12]:
#Example
data = {'Name': ['Alice', 'Bob', 'Claire', 'Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27, 26, 29, 28],
        'Gender': ['Female', 'Male', 'Female', 'Female', 'Male', 'Female'],
        'Score': [85, 92, 89, 90, 88, 87]}

df = pd.DataFrame(data)

# group the rows by the 'Name' column and calculate the mean value of the 'Score' column
grouped = df.groupby('Name')['Score'].mean()

print(grouped)

Name
Alice     87.5
Bob       90.0
Claire    88.0
Name: Score, dtype: float64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [13]:
"""Answer:-In pandas, both Series and DataFrame are mutable in nature. This means that their values can be changed or updated after they have been created. On the other hand, Panel is an immutable data structure in pandas, which means that its values cannot be changed once it has been created."""

'Answer:-In pandas, both Series and DataFrame are mutable in nature. This means that their values can be changed or updated after they have been created. On the other hand, Panel is an immutable data structure in pandas, which means that its values cannot be changed once it has been created.'

In [14]:
#example of how you can modify the values of a Series and DataFrame:
# create a Series
s = pd.Series([1, 2, 3])

# change the value at index 1
s[1] = 4

print(s)

0    1
1    4
2    3
dtype: int64

In [15]:
# create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# change the value at row 1 and column 'B'
df.at[1, 'B'] = 10

print(df)

   A   B  C
0  1   4  7
1  2  10  8
2  3   6  9

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [16]:
"""Answer:-we can create a pandas DataFrame using multiple Series. Each Series will represent a column in the DataFrame, and they should have the same length."""

'Answer:-we can create a pandas DataFrame using multiple Series. Each Series will represent a column in the DataFrame, and they should have the same length.'

In [ ]:
#example of how you can create a DataFrame using two Series:
# create two Series
s1 = pd.Series(['Alice', 'Bob', 'Claire'])
s2 = pd.Series([25, 30, 27])

# create a DataFrame with the two Series as columns
df = pd.DataFrame({'Name': s1, 'Age': s2})

print(df)
Output:

markdown
Copy code
     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27
In this example, we first created two Series: 's1' with the names 'Alice', 'Bob', and 'Claire', and 's2' with the ages 25, 30, and 27. We then created a DataFrame with the two Series as columns, by passing a dictionary to the pd.DataFrame() function. The keys of the dictionary represent the column names, and the values represent the Series. The result is a DataFrame with two columns: 'Name' and 'Age'.