Q1. List any five functions of the pandas library with execution.

In [15]:
import pandas as pd

In [16]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
df=pd.read_csv("services.csv")

In [18]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

(b) describe() - This function generates descriptive statistics of the DataFrame such as mean, standard deviation, min/max values, and quartiles.

In [19]:
print(df.describe())

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

(c)dropna() - This function is used to remove rows with missing values from the DataFrame.

In [20]:
df.dropna(inplace=True)

In [21]:
print(df.head())

Empty DataFrame
Columns: [id, location_id, program_id, accepted_payments, alternate_name, application_process, audience, description, eligibility, email, fees, funding_sources, interpretation_services, keywords, languages, name, required_documents, service_areas, status, wait_time, website, taxonomy_ids]
Index: []

[0 rows x 22 columns]

(d)groupby() - This function is used to group the DataFrame based on one or more columns and perform aggregation on each group.

(e)merge() - This function is used to merge two DataFrames based on a common column.

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [29]:
import pandas as pd

def reindex_df(df):
    new_index = pd.Index(range(1, 2*len(df)+1, 2))  # generate new index
    df = df.set_index(new_index)  # set new index
    return df

In [30]:
# create a sample DataFrame
df = pd.DataFrame({'A': [10, 20, 30, 40], 'B': [100, 200, 300, 400], 'C': [1000, 2000, 3000, 4000]})

print("Original DataFrame:")
print(df)

df_reindexed = reindex_df(df)

print("Re-indexed DataFrame:")
print(df_reindexed)

Original DataFrame:
    A    B     C
0  10  100  1000
1  20  200  2000
2  30  300  3000
3  40  400  4000
Re-indexed DataFrame:
    A    B     C
1  10  100  1000
3  20  200  2000
5  30  300  3000
7  40  400  4000

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

Sure! Here's a Python function that iterates over a given Pandas DataFrame and calculates the sum of the first three values in the 'Values' column:

In [31]:
import pandas as pd

def sum_first_three_values(df):

    first_three_values = df['Values'][:3]
    
    sum_first_three = first_three_values.sum()
    
    print("Sum of the first three values in the 'Values' column: ", sum_first_three)

In [32]:
# create a sample DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# call the sum_first_three_values() function on the DataFrame
sum_first_three_values(df)

Sum of the first three values in the 'Values' column:  60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

Answer:-Sure! Here's a Python function that creates a new column 'Word_Count' in a given Pandas DataFrame with a 'Text' column, which contains the number of words in each row of the 'Text' column:

In [33]:
import pandas as pd

def add_word_count_column(df):
    # split each row of the 'Text' column into words
    words = df['Text'].str.split()
    
    # count the number of words in each row
    word_count = words.apply(len)
    
    # add the 'Word_Count' column to the DataFrame
    df['Word_Count'] = word_count
    
    # return the modified DataFrame
    return df

In [34]:
# create a sample DataFrame
df = pd.DataFrame({'Text': ['This is a sample sentence', 'Another sentence with more words']})

# call the add_word_count_column() function on the DataFrame
df_with_word_count = add_word_count_column(df)

# print the modified DataFrame
print(df_with_word_count)

                               Text  Word_Count
0         This is a sample sentence           5
1  Another sentence with more words           5

Q5. How are DataFrame.size() and DataFrame.shape() different?

Both DataFrame.size() and DataFrame.shape() are methods in Pandas used to obtain information about the size or dimensions of a DataFrame, but they differ in what they return.

DataFrame.size() returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns.

On the other hand, DataFrame.shape() returns a tuple of two elements that represent the dimensions of the DataFrame. The first element is the number of rows, and the second element is the number of columns.

For example, let's consider the following DataFrame:

In [36]:
import pandas as pd

data = {'name': ['John', 'Jane', 'Bob', 'Alice'],
        'age': [25, 30, 40, 35],
        'country': ['USA', 'Canada', 'Australia', 'UK']}

df = pd.DataFrame(data)

Q6. Which function of pandas do we use to read an excel file?

Answer:-The function of Pandas that is commonly used to read an Excel file is read_excel().

The read_excel() function can read data from an Excel file and return it as a Pandas DataFrame. It can read data from a single sheet or multiple sheets within an Excel file.

Here is an example of how to use read_excel() to read data from an Excel file:

In [43]:
import pandas as pd
df = pd.read_excel("LUSID Excel - Setting up your market data.xlsx")
print(df)

    Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0          NaN         NaN         NaN
1          NaN         NaN         NaN
2          NaN         NaN         NaN
3          NaN         NaN         NaN
4          NaN         NaN         NaN
5          NaN         NaN         NaN
6          NaN         NaN         NaN
7          NaN         NaN         NaN
8          NaN         NaN         NaN
9          NaN         NaN         NaN
10         NaN         NaN         NaN
11         NaN         NaN         NaN
12         NaN         NaN         NaN
13         NaN         NaN         NaN
14         NaN         NaN         NaN
15         NaN         NaN         NaN
16         NaN         NaN         NaN
17         NaN         NaN         NaN
18         NaN         NaN         NaN
19         NaN         NaN         NaN
20         NaN         NaN         NaN
21         NaN         NaN         NaN
22         NaN         NaN         NaN
23         NaN         NaN         NaN
24         NaN         NaN         NaN
25         NaN         NaN         NaN
26         NaN         NaN         NaN
27         NaN         NaN         NaN

                                           Unnamed: 3  \
0                                                 NaN
1                                  Datetimes in LUSID
2                                                 NaN
3    This sheet allows you to format datetimes for...
4         If you have any questions please visit our:
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN

                                           Unnamed: 4  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                           Getting Started tutorials
6                             Knowledge Base articles
7                                       or Contact us
8                                                 NaN
9                                                 NaN
10                                                NaN
11  LUSID accepts datetimes in any recognised Exce...
12                                                NaN
13                     Excel formats to show datetime
14                                                NaN
15                          Enter the date to convert
16                                                NaN
17                    This date has no time component
18                                                NaN
19                             Specify time component
20                                                NaN
21  Add to your date and display the complete date...
22                                                NaN
23   Although the date can still appears without time
24                                                NaN
25                       Add an hour to your datetime
26                                                NaN
27               Subtract a minute from your datetime

                    Unnamed: 5  Unnamed: 6  \
0                          NaN         NaN
1                          NaN         NaN
2                          NaN         NaN
3                          NaN         NaN
4                          NaN         NaN
5                          NaN         NaN
6                          NaN         NaN
7                          NaN         NaN
8                          NaN         NaN
9                          NaN         NaN
10                         NaN         NaN
11                         NaN         NaN
12                         NaN         NaN
13                         NaN         NaN
14                         NaN         NaN
15         2019-04-10 00:00:00         NaN
16                         NaN         NaN
17         2019-04-10 00:00:00         NaN
18                         NaN         NaN
19             13:30:45.550000         NaN
20                         NaN         NaN
21  2019-04-10 13:30:45.550000         NaN
22                         NaN         NaN
23  2019-04-10 13:30:45.550000         NaN
24                         NaN         NaN
25  2019-04-10 14:30:45.550000         NaN
26                         NaN         NaN
27  2019-04-10 14:29:45.550000         NaN

                                           Unnamed: 7  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11  LUSID also accepts UTC, UTS offsets and cutlabels
12                                                NaN
13                                 Additional formats
14                                                NaN
15                            Standard UTC timestamp:
16                                                NaN
17                         Convert date into a string
18                                                NaN
19       UTC offset (not recognised as an excel date)
20                                                NaN
21                                           Cutlabel
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN

                   Unnamed: 8  \
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
5                         NaN
6                         NaN
7                         NaN
8                         NaN
9                         NaN
10                        NaN
11                        NaN
12                        NaN
13                        NaN
14                        NaN
15  "YYYY-MM-DDTHH:MM:SS.00Z"
16                        NaN
17   2019-04-10T 13:30:45.55Z
18                        NaN
19  2019-04-10T13:30:45+04:00
20                        NaN
21  2019-04-10NSingaporeClose
22                        NaN
23                        NaN
24                        NaN
25                        NaN
26                        NaN
27                        NaN

                                           Unnamed: 9
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15  Where Z indicates Zulu time (UTC+0), and is eq...
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

Answer:-To extract the username from each email address in the 'Email' column of a Pandas DataFrame df and create a new column 'Username' that contains the usernames, you can use the str.split() method and indexing to extract the substring before the '@' symbol. Here's an example Python function:

In [45]:
def extract_username(df):
    # Extract the username from the email addresses in the 'Email' column
    usernames = df['Email'].str.split('@').str[0]
    
    # Add the 'Username' column to the DataFrame
    df['Username'] = usernames
    
    # Return the modified DataFrame
    return df

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Answer:-To select all rows from a Pandas DataFrame df where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10, you can use boolean indexing with the & operator to combine two conditions. Here's an example Python function:

In [46]:
def select_rows(df):
    # Create a boolean mask to select rows where A > 5 and B < 10
    mask = (df['A'] > 5) & (df['B'] < 10)
    
    # Use the boolean mask to select the rows
    selected_rows = df[mask]
    
    # Return the new DataFrame containing only the selected rows
    return selected_rows

In this function, (df['A'] > 5) & (df['B'] < 10) creates a boolean mask that is True for all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The & operator combines the two conditions using logical AND.